{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}

		<div class="container"  style="margin-top:110px">
		  <div class="row">
		    <nav class="col-md-3 d-none d-md-block bg-light sidebar">
		      <div class="sidebar-sticky">
		        <ul class="nav flex-column">
		        	<li class="nav-item">
		        		<h4>Liste des ingredients : </h4>
		        	</li>
		          	{% for ingredient in recette.ingredients %}
			          <li class="nav-item">
			          	{{ ingredient.nomingredient }}
			          </li>
		          	{% endfor %}
		        </ul>
		      </div>
		    </nav>

		    <div class="col-md">
		    	<h1>{{ recette.nomRecette }}</h1>
		    	{{ recette.description|raw }}
		    </div>
		</div>

{% endblock %}
