{% extends 'base.html.twig' %}

{% block body %}	
<div class="container"  style="margin-top:90px">
	{% for recette in recettes %}
		<div class="row alert alert-warning" style="margin-bottom:20px">
			<div class="col-md-auto">
				<img class="img-fluid" src="{{ asset('Img/tzatziki-en-verrine.jpeg/text=First slide') }} alt="Responsive image" style="height: 200px;">
			</div>
			<div class="col-md">
				<h1>{{ recette.nom_recette }}</h1>
				<p>
					{% if recette.description|length > 400 %}
						{{ recette.description|truncate(400) }}
					{% else %}
						{{ recette.description }}
					{% endif %}
				</p>
				<a href="#" >Lire la suite</a>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}