{% extends 'base.html.twig' %}

{% block body %}	
<div class="container"  style="margin-top:90px">
	{% for recette in recettes %}
		<div class="row alert alert-warning" style="margin-bottom:20px">
			<div class="col-md-auto">
				<img class="img-fluid" src="{{ asset('Img/tzatziki-en-verrine.jpeg/text=First slide') }} alt="Responsive image" style="height: 200px;">
			</div>
			<div class="col-md">
				<h1>{{ recette.nom_recette|striptags }}</h1>
				<p>
					{{ recette.description|striptags|length > 300 ? recette.description|truncate(300, true)|raw : recette.description|raw }}
				</p>
				<a href="{{ path('recette_show', {'id': recette.id_recette}) }}" >Voir la recette !</a>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}